.bd {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background:linear-gradient(to bottom, #7c588d, rgb(0, 0, 0))
}

/* Estilo do cabeçalho */
.hd {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.paragrafo {
    text-align: center;
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-shadow: 0px 5px 5px rgb(66, 77, 94);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.lista {
    list-style: upper-roman inside;
    font-size: 17px;
    text-decoration: underline rgb(112, 42, 224);
    text-shadow: 0px 0px 5px black;
    color:rgb(221, 169, 235);
}



/* Estilo do contêiner flexível */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Distribui os perfis ao redor do espaço disponível */
    padding: 20px;
}

/* Estilo do perfil individual */
.profile {
    flex: 1; /* Ocupa uma parte flexível do contêiner */
    background-color: #809199;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 8px 2px rgb(0, 0, 0);
}

/* Estilo da imagem do perfil */
.profile img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* Estilo do rodapé */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed; /* Fixa o rodapé na parte inferior da tela */
    bottom: 0;
    width: 100%;
}